<nb-card>
    <nb-card-header>
        <div class="d-flex justify-content-between align-items-center w-100">
            
            <span><a [routerLink]="['/pages/resident']">Listes</a>> détails> {{resident.firstName}} - {{resident.lastName}}</span>
            
          </div>
    </nb-card-header>
    <nb-card-body>
        <!-- <div class="col-12">
            <nb-card size="small"> -->
              <nb-tabset fullWidth>
                <nb-tab tabTitle="Informations">
                <info-resident [resident]="resident" ></info-resident> 
                </nb-tab>
                <nb-tab tabTitle="Suivi">
                  <span>Content #2</span>
                </nb-tab>
                <nb-tab tabTitle="Document">
                  <span>Content #3</span>
                </nb-tab>
              </nb-tabset>
            <!-- </nb-card>
          </div> -->
    </nb-card-body>
</nb-card>
  